doctype html5
html(lang='en')
  head
    title= vars.name
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600', rel='stylesheet', type='text/css')
    link(href='/css/normalize.css', rel='stylesheet', type='text/css')
    link(href='/css/skeleton.css', rel='stylesheet', type='text/css')
    link(href='/css/application.css', rel='stylesheet', type='text/css')

  body
    block content
